{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="product_delete">
        Уверены, что хотите удалить <strong>{{ univers.name }}</strong>?
        <form action="{% url 'main:delete' univers.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger exit" type="submit" value="удалить">
        </form>
            <a href="{% url 'main:edit' univers.pk %}" class="add">
                отмена
            </a>
        </button>
    </div>
{% endblock %}